# PostgreSQL database access configuration
PGHOST=127.0.0.1
PGPORT=5432
PGDATABASE=clog_db_name
PGUSER=clog_db_user
PGPASS=clog_db_password

# clogd bind address and port. It's advisable to configure a
# reverse proxy with nginx.
CLOGHOST=127.0.0.1
CLOGPORT=7890
