<!doctype html>
<html>
<head>
	<title>clog job history</title>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>

<div align="right" style="float: right;">
	%if ctx['isadmin'] == 1:
		<a href="/config-job/{{ctx['computername']}}/{{ctx['computeruser']}}/{{ctx['script']}}/">config this job</a>
	%end
</div>

<a href="/">clog</a>

<h1>clog job history</h1>

<table border="1">
	<th>Computer</th>
	<th>User</th>
	<th>Script</th>
	<th>Start</th>
	<th>End</th>
	<th>Status</th>
	<th>Duration</th>
	%for h in history:
	<tr>
		<td>{{ h['computername'] }}</td>
		<td>{{ h['computeruser'] }}</td>
		<td>{{ h['script'] }}</td>
		<td>{{ h['datestarted'] }}</td>
		<td>{{ h['datefinished'] }}</td>
		%if h['status'] == 'ok':
		<td class="tdcenter">
		%else:
		<td class="tdcenter tdfail">
		%end
			<a href="/jobs/{{h['computername']}}/{{h['computeruser']}}/{{h['script']}}/{{ h['id'] }}">
				{{ h['status'] }}
			</a>
		</td>
		<td class="tdright">{{ h['duration'] }}</td>
	</tr>
	%end
</table>

%include version ctx

</body>
</html>