<!doctype html>
<html>
<head>
	<script src="/static/jobs.js"></script>
	<title>clog</title>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body onload="load()">

<div align="right">
	%if ctx['isadmin'] == 1:
	<a href="/admin">admin</a> |
	%end
	<a href="/change-password">password</a> | 
	<a href="/logout">logout</a>
</div>

<h1>clog jobs</h1>

<a href="javascript:loadJobs()" id="btnloadjobs">jobs</a> | 
	<a href="javascript:loadHistory()" id="btnloadhistory">history</a>

<p>

<div id="jobstbl">
</div>

%include('version.html', ctx=ctx)

</body>
</html>