<table border="1">
	<th>Computer</th>
	<th>User</th>
	<th>Script</th>
	<th>Last Success</th>
	<th>Last Fail</th>
	<th>Last Status</th>
	<th>Last Duration</th>
	%for job in jobs:
	<tr>
		<td>{{ job['computername'] }}</td>
		<td>{{ job['computeruser'] }}</td>
		<td><a href="/jobs/{{job['computername']}}/{{job['computeruser']}}/{{job['script'] }}/">{{ job['script'] }}</a></td>
		<td>{{ job['date_last_success'] }}</td>
		<td>{{ job['date_last_failure'] }}</td>
		%if job['last_status'] == 'ok':
		<td class="tdcenter">
		%else:
		<td class="tdfail tdcenter">
		%end
			{{ job['last_status'] }}
		</td>
		<td class="tdright">{{ job['last_duration'] }}</td>
	</tr>
	%end
</table>
