body {
	font-family: Verdana, Arial, sans-serif;
	background-color: #E6E6E6;
	font-size: 14px;
}

table, th, tr, td {
	border-collapse: collapse;
	border: 0;
	padding: 2px 4px 2px 4px;
	text-align: left;
}

tr:nth-child(2n+3) {
	background-color: #DEDEDE;
}

.tdstatus {
	text-align: center;
}