@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body {
	font-family: "Droid Sans", Verdana, Arial, sans-serif;
	background-color: #E6E6E6;
	font-size: 14px;
}

table, th, tr, td {
	border-collapse: collapse;
	border: 0;
	padding: 2px 4px 2px 4px;
	text-align: left;
	border: 1px solid #A1A1A1;
}

tr:nth-child(2n-1) {
	background-color: #DEDEDE;
}

th {
	text-align: center;
}

a {
	color: #636363;
}

a:hover {
	color: black;
}

.tdcenter {
	text-align: center;
}

.tdright {
	text-align: right;
}

.tdfail {
	/*background-color: #FF6666;*/
}

.tdfail a {
	color: #EB0000;
	font-weight: bold;
}

.tdfail {
	color: #EB0000;
	font-weight: bold;
}